.mainDiv {
    text-align: center;
}

.headerText {
    font-size: 80px;
    font-family: Impact;
}

.btn {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.pageText{
    font-size: 35px;
}

.btn:hover{
    background-color: green;
}